  @font-face {
      font-family: 'Roboto-Black';
      src: local('Roboto-Black'), url(fonts/Roboto-Black.woff) format('woff');
  }

  @font-face {
      font-family: 'Roboto-Medium';
      src: local('Roboto-Medium'), url(fonts/Roboto-Medium.woff) format('woff');
  }

  * {
      box-sizing: border-box;
  }

  body {
      width: 100%;
      height: 100vh;
      font-family: "Roboto";
  }

  .site-container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
  }

  a:hover {
      transform: scale(1.1);
  }

  a {
      transition: all .2s linear;
      text-decoration: none;
  }


  .login-window {
      width: 100%;
      max-width: 400px;

      background: url(img/bg.jpg) no-repeat center /cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 28px 31px;
  }

  .login-window__inner {}

  .login-window__header {
      width: 100%;
      height: 56px;
      border-radius: 10px 10px 0 0;
      background-color: #03a9f4;
      padding: 13px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .login-window__header-text {
      color: #ffffff;
      font-size: 24px;
      font-weight: 500;
      position: relative;
  }

  .login-window__header-text::before {
      content: url(img/key_icon.png);
      width: 27px;
      height: 27px;
      filter: brightness(10);
      position: absolute;
      top: 0;
      left: -30px;
  }

  .login-window__form {
      background-color: #fafafa;
      padding: 30px;
      text-align: center;
  }

  .login-form__input {
      width: 274px;
      border-radius: 4px;
      border: 2px solid #e0e0e0;
      background-color: #ffffff;
      margin-bottom: 20px;
      padding: 13px 8px;
  }

  .login-form__input::-webkit-input-placeholder {
      color: #bdbdbd;
      font-size: 16px;
      font-weight: 500;
  }

  .login-form__input::-moz-placeholder {
      color: #bdbdbd;
      font-size: 16px;
      font-weight: 500;
  }

  .login-form__input::-ms-input-placeholder {
      color: #bdbdbd;
      font-size: 16px;
      font-weight: 500;
  }

  .login-form__input:-moz-placeholder {
      color: #bdbdbd;
      font-size: 16px;
      font-weight: 500;
  }

  .login-form__input_email {
      background: url(img/email_icon.png) no-repeat;
      background-position: right 6px center;
  }

  .login-form__input_password {
      background: url(img/lock_icon.png) no-repeat;
      background-position: right 5px center;
  }

  .login-form__button {
      width: 274px;
      height: 45px;
      border-radius: 4px;
      background-color: #f44336;
      color: #ffffff;
      font-family: "Roboto-Black";
      font-size: 16px;
      font-weight: 400;
      border: none;
      cursor: pointer;
  }

  .login-window__footer {
      width: 100%;
      border-radius: 0 0 10px 10px;
      background-color: #eeeeee;
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 17px;
  }

  .login-window__reg {
      color: #212121;
      font-family: "Roboto-Medium";
      font-weight: 500;
      font-size: 14px;
  }

  .login-window__forgot {
      color: #757575;
      font-size: 14px;
      font-weight: 500;
      margin-left: 14px;
  }